@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(img.1.png) no-repeat;
	background-size: cover;
	height: 100vh;
}

.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: white;
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center h2{
	color: white;
	font-size: 70px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .buttons{
	margin: 35px 280px;
}
.buttons button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffb3b3;
	background: red;
	outline: none;
	cursor: pointer;
	border: 1px solid #cc0000;
	border-radius: 25px;
	transition: .4s;
}
.buttons .btn2{
	margin-left: 25px;
}
.buttons button:hover{
	background: #cc0000;
}

@media screen and (max-width: 281px) and (min-width: 280px) {

	.wrapper{
		height: 100vh;
	}

	.center h1{
		color: white;
		font-size: 20px;
		width: 270px;
	}
  }


@media screen and (max-width: 321px) and (min-width: 320px) {

	.wrapper{
		height: 100vh;
	}

	.center h1{
		color: white;
		font-size: 40px;
		width: 300px;
	}
  }
@media screen and (max-width: 361px) and (min-width: 360px) {

	.wrapper{
		height: 100vh;
		background-size: auto;
	}

	.navbar .logo{
		width: 2%;
		height: auto;
		padding: 20px 20px;
	}


	.center h1{
		color: white;
		font-size: 40px;
		width: 300px;
	}
  }

  @media screen and (max-width: 376px) and (min-width: 375px) {

	.wrapper{
		height: 100vh;
	}

	.navbar{
		position: fixed;
		height: 50px;
		width: 100%;
	}

	.navbar ul li{
		line-height: 30px;
	}

	.navbar ul li a{
		font-size: 10px;
	}

	.center h1{
		color: white;
		font-size: 40px;
		width: 300px;
	}
  }
  @media screen and (max-width: 412px) and (min-width: 411px) {

	.wrapper{
		height: 100vh;
	}

	.center h1{
		color: white;
		font-size: 40px;
		width: 300px;
	}
  }

  @media screen and (max-width: 414px) and (min-width: 413px) {

	.wrapper{
		height: 100vh;
	}

	.center h1{
		color: white;
		font-size: 40px;
		width: 300px;
	}
  }

  @media screen and (max-width: 541px) and (min-width: 540px) {

	.wrapper{
		height: 100vh;
	}

	.center h1{
		color: white;
		font-size: 40px;
		width: 300px;
	}
  }

  @media screen and (max-width: 769px) and (min-width: 768px) {

	.wrapper{
		height: 100vh;
	}

	.center h1{
		color: white;
		font-size: 40px;
		width: 300px;
	}
  }

  .topnav {
	overflow: hidden;
	background-color: rgb(24, 19, 29);
	/* background-color: transparent; */
	position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
	display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
	color: white;
	padding: 16px 16px;
	text-align: right;
	text-decoration: none;
	font-size: 20px;
	display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
	background: rgb(24, 19, 29);
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
	background-color: #333;
	color: white;
  }

  /*form*/

  body{
    margin:0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(logo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.contact-title
{
    margin-top: 100px;
    color:#fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1
{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2
{
	line-height: 60px;
    font-size: 16px;
}
form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control
{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;  
}

input
{
    height: 45px;
}

form .submit
{
    background: #45a049;/* #ff5722;*/
    border-color: transparent;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

}

form .submit:hover
{
    background-color:#4CAF50;/* #f44336;*/
    cursor: pointer;
}